modules = ["nodejs-20"]

[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Toko API"

[[workflows.workflow]]
name = "Toko API"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd api && PORT=9000 npm run dev"
waitForPort = 9000

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 9000
externalPort = 80
